---
---

{% for post in paginator.posts %}
{% include top.html %}

        <!--   TURNING DATA INTO SIDEPOSTS   -->
    {% for data in post.sample-div %}
        {% capture side %}{% cycle 'left', 'right' %}{% endcapture %}
            <aside class="example {{side}}">
                {% if side == 'left' %}
                    <span></span>
                    <div>
                        <p>
                            {{data}}
                        </p>
                    </div>
                {% else %}
                    <div>
                        <p>
                            {{data}}
                        </p>
                    </div>
                    <span></span>
                {% endif %}
            </aside>
    {% endfor %}

        <!--    AUTO GENERETED PAGE MOVE   -->    
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="chip linRight">Last</a>
    {% endif %}
      <!--<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>-->
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="chip linLeft">Next</a>
    {% endif %}

{% include bottom.html %}
{% endfor %}
