<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://supahjay.github.io/style.css" type="text/css" rel="stylesheet">
</head>

<body style="padding:10" class="intro" id="barba-wrapper">
<div class="barba-container">
    <div id="barba-wrapper">
        <div class="barba-container">
            {{content}}
            <section id="intro"><a>Contact</a><a>About Me</a><a href="{{site.basseurl}}/portifolio.html">Portifolio</a></section>
        </div>
    </div>
    </div>
</body>




</html>
