<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="style.css" type="text/css" rel="stylesheet">
</head>

<body style="padding:10" id="intro">
    <div id="barba-wrapper">
        <div class="barba-container">
    {{content}}
<section id="intro"><a>Contact</a><a>About Me</a><a href="https://supahjay.github.io/portifolio.html">Portifolio</a></section>
        </div>
    </div>
    <script ></script>
    <script> //window.onload=()=>{Barba.Pjax.start();}</script>
</body>




</html>