{% include code-up.html %}
    <header><a href="https://supahjay.github.io">Moabe</a></header>
    <button id="menu" onclick="tags.style.display=='block'? tags.style.display='none':tags.style.display=tags.style.display='block';this.classList.toggle('close')"></button>
    <section id="tags">
        <p>Styles</p>
        <ul>
            <li>Minimalistc</li>
            <li>Modern</li>
            <li>Old School</li>
        </ul>
        <p>Types</p>
        <ul>
            <li>Websites</li>
            <li>Posters</li>
            <li>Icons</li>
            <li></li>
        </ul>
    </section>
    {{content}}
{% include code-bottom.html %}
