<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>relative title</title>
    <link href="{{site.baseurl}}/style.css" type="text/css" rel="stylesheet">
</head>
<body class="showCase">
    
    <header><a href="{{site.baseurl}}/index.html">Moabe</a></header>
    
    <a class="chip" href="portifolio.html" style="position:fixed;left:10;top:calc(.7vw + 10px + 8%)">Back</a>
    <article id="post">
        <div id="heroImg"></div>
        {{content}}
        <a class="chip linRight">Last</a>
        <a class="chip linLeft">Next</a> &nbsp;
    </article>
</body>
</html>
