{% include code-up.html %}
    <header><a href="{{site.baseurl}}/index.html">Moabe</a></header>
    <a class="chip back" href="{{site.baseurl}}/portifolio.html">Back</a>
    <article id="post">
        <div id="heroImg" class="wow fadeInDown"></div>
        <p class="wow fadeIn">{{content}}</p>
        <a class="CallAction wow fadeIn" href="{{page.link}}">Live page</a>
        <a href="{{page.link}}" class="live wow fadeIn"><img></a>
        <!--   TURNING DATA INTO SIDEPOSTS   -->
        {% for data in page.sample-div %}
            {% capture side %}{% cycle 'Left', 'Right' %}{% endcapture %}
            <aside class="example {{side}} wow fadeIn{{side}}">
                {% if side == 'left' %}
                <span></span>
                <div><p>{{data}}</p></div>
                {% else %}
                <div><p>{{data}}</p></div>
                <span></span>
                {% endif %}
            </aside>
        {% endfor %}

        <!--    AUTO GENERETED PAGE MOVE   -->
        {% if page.previous %}
            <a href="{{page.previous.url}}" class="chip linRight">Last</a>
        {% endif %}
        <!--<span class="page_number ">Page: {{ page.page }} of {{ page.total_pages }}</span>-->
        {% if page.next %}
            <a href="{{page.next.url}}" class="chip linLeft">Next</a>
        {% endif %}&nbsp;
    </article><!--where data goes-->
{% include code-bottom.html %}
